/* Base styles */
* {
    box-sizing: border-box;
}

body{
    font-family: 'Raleway', sans-serif;
}

header,
.sub-header
form,
fieldset,
.newsletter,
.select-icon1,
.select-icon2,
footer {
    display: flex;
}

.sub-header hr {
    border: 2px solid black;
    border-top: 5px solid black;
    border-left: 0;
    border-right: 0;
    height: .2em;
    margin: 1em 0 1.5em 0;
}

fieldset {
    border: 0;
    padding: 0;
    margin-top:2em;
}

fieldset hr {
    width: 100%;
    border: 2px solid black;
    margin: 0.5em 0 0 0;
}

footer{
    text-align: center;
    margin-bottom: 10em;
    color: grey;
}

button{
    max-width: 764px;
}

select {
    -webkit-appearance: none;
    appearance: none;
}

/* Input Styling */
input[name="contact_information"]::placeholder {
    text-align:right;
    color:rgb(175, 174, 174);
    font-style: italic;
    padding-right: .5em;
}

input[id="zip_code"]::placeholder{
    text-align: left;
}

form input[name="contact_information"]:focus,
form select:focus,
form textarea:focus {
    border: 2px solid green;
    outline: 0;
}


/* MOBILE View Port @360px */
@media (min-width: 360px) {

    form {
        margin-left: 1em;
        margin-right: 1em;
    }
        header h1{
            justify-content: center;
            display: flex;
            padding: 1em 0 1em 0;
            margin: 0;
            text-transform: uppercase;
            font-weight: 600;
            font-size: x-large;
            background-color: thistle;
            width:100%;
        }
            .sub-header{
                text-align: center;
            }
            .sub-header p {
                color: rgb(194, 194, 194);
                margin-bottom: 3em;
            }
            .sub-header h2 {
                margin-top: 1.5em;
            }

        fieldset p {
            margin-bottom: .5em;
        }
        form legend{
            margin: 1em 0 1em 0;
            font-size: 1.5em;
            font-weight: 600;
        }
        form label{
            color: grey;
            display: block;
        }
    
    input[type="name"],
    input[type="email"],
    input[type="tel"],
    input[type="text"],
    select {
        border-radius: 5px;
        height: 4em;
        padding: 5px 10px 5px 10px;
        background-color: rgb(230, 230, 230);
        border: 0;
    }

    .select-icon1{
        position: relative;
    }
    
    .select-icon2{
        position: relative;
    }
        .select-icon1::after{
            content: "▼";
            font-size: 0.8rem;
            top: 32px;
            right: 10px;
            position: absolute;
            color:grey;
            pointer-events: none;
        }
        .select-icon2::after{
            content: "▲";
            font-size: 0.8rem;
            top: 16px;
            right: 10px;
            position: absolute;
            color:grey;
            pointer-events: none;
        }
    
    input,
    select,
    textarea {
        background-color: rgb(230, 230, 230);
        border: 0;
        border-radius: 5px;
    }
    fieldset,
    .newsletter {
        flex-direction: column;
    }

    .groupies label,
    .groupies input,
    .groupies select,
    .groupies .select-icon1,
    .groupies .select-icon2{
        display: block;
        width: 100%;
    }

    input[id="zip_code"] {
        width: 50%;
    }

    input,
    select{
        margin-bottom: 1.5em;
        margin-top: .5em;
    }

    textarea {
        height: 7em;
        width: 100%;
        padding: 5px 10px 5px 10px;
        margin-top: 1em;
    }

    button {
        border: 0;
        background-color: rgb(86, 157, 250);
        border-radius: 5px;
        color: white;
        margin: 1.5em 0 1.5em 0;
        height: 3em;
        font-size: x-large;
        transition: .3s ease;

    }

    select:invalid { 
        color:rgb(175, 174, 174);
    }

    .select_newsletter ul,
    .newsletter_format ul {
        margin: 1em 0 1em 0;
    }
        li  input{
            margin-right: .5em;
        }

    footer span{
        flex: auto;
    }
}

/* DESKTOP View Port @768px */
@media (min-width: 768px) {

    form,
    footer{
        max-width: 768px;
        margin: 0 auto;
    }

    .select-icon1::after{
        top: 39px;
    }
    .select-icon2::after{
        top: 15px;
    }

    .groupies {
        display: flex;
    }

    .groupies label{
        max-width: 23%;
        display: flex;
        align-items: center;
        height: 5em;
    }
    
    .newsletter li label{
        height: 2em;
    }


    input[id="zip_code"] {
        width: 25%;
    }

    .sub-header hr{
        margin-bottom: 3em;
    }

    .sub-header h2{
        margin-top: 2em;
    }

    fieldset hr {
        margin: 1.5em 0 0 0;
    }

    button {
        margin: 1.5em 0 2em 0;
    }

    button:hover {
        transform: scale(1.2);
        transition: all .5s ease;
    }

    footer{
        margin-bottom: 10em;
    }

}